.imageContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: center;
}

.layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.text{
  display: flex;
  justify-content: center;
  padding: 15px;
}