.formContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 5px;
  color: black;
  border: solid 3px #8a794e;

  border-radius: 15px;
  background-color: #f8f5ee;
}

.inputFormat {
  display: flex;
  align-items: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.input{
  display: flex;
  align-items: center;
  padding: 15px;
}

.messageBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

}
