/* GLOBAL .page-layout */

/* .layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
} */

.heroCluster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


