.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: goldenrod;
  position: static;
  margin-top: 20px;
  padding: 5px;
}

p{
  margin: 0px;
  font-size: 20px;
  color: black;
}