.navStyle {
  background-color: #8a794e;
  position: relative;
  width: 100%;
}

.linkListStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #8a794e;
  width: 100%;
}
