.navStyle {
  position: relative;
  width: 100%;
}

.linkListStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #8a794e;
  border-bottom: solid #cad66b 3px;
  width: 100%;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
