.imageContainer {
    display: flex;
    justify-content: center;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.headline{
    display: flex;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.missionCluster{
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    justify-content: center;
    padding: 15px;
}